In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df=pd.read_csv('yelp_all.csv')

In [3]:
df

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,new_category
0,0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN,Health & Medical
1,1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...",Local Services
2,2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...",Shopping
3,3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",Restaurants
4,4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...",Food
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3...",Beauty & Spas
150342,150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3...",Shopping
150343,150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",NaN,Shopping
150344,150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': ""{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ...",Shopping
150345,150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19...",Beauty & Spas

In [4]:
df2=df.loc[:,['state','new_category']]

In [5]:
df2['c']=1

In [6]:
df2

       state      new_category  c
0         CA  Health & Medical  1
1         MO    Local Services  1
2         AZ          Shopping  1
3         PA       Restaurants  1
4         PA              Food  1
...      ...               ... ..
150341    AB     Beauty & Spas  1
150342    TN          Shopping  1
150343    IN          Shopping  1
150344    IL          Shopping  1
150345    FL     Beauty & Spas  1

[150346 rows x 3 columns]

In [7]:
table = pd.pivot_table(df2, values=['c'],columns=['new_category'],
                         index =['state'],aggfunc=np.sum)

In [8]:
table

                       c                                                \
new_category Active Life Arts & Entertainment Automotive Beauty & Spas
state
AB                 161.0                 50.0      236.0         418.0
AZ                 277.0                 68.0      691.0         828.0
CA                 205.0                 35.0      260.0         426.0
CO                   NaN                  NaN        NaN           NaN
DE                  38.0                 12.0      119.0         183.0
FL                 888.0                138.0     1570.0        2314.0
HI                   NaN                  NaN        NaN           NaN
ID                 136.0                 23.0      288.0         391.0
IL                  42.0                 16.0      133.0         135.0
IN                 369.0                119.0      634.0         895.0
LA                 249.0                104.0      461.0         655.0
MA                   NaN                  NaN        NaN           NaN
MI                   NaN                  NaN        1.0           NaN
MO                 291.0                 73.0      621.0         776.0
MT                   NaN                  NaN        NaN           NaN
NC                   NaN                  NaN        NaN           NaN
NJ                 222.0                 42.0      580.0         742.0
NV                 220.0                 59.0      553.0         576.0
PA                 840.0                203.0     1907.0        2981.0
SD                   NaN                  NaN        NaN           1.0
TN                 333.0                 67.0      675.0         957.0
TX                   NaN                  NaN        NaN           1.0
UT                   NaN                  NaN        NaN           NaN
VI                   NaN                  NaN        NaN           NaN
VT                   NaN                  NaN        1.0           NaN
WA                   NaN                  NaN        1.0           1.0
XMS                  NaN                  NaN        NaN           NaN

                                                                             \
new_category Education Event Planning & Services Financial Services    Food
state
AB                10.0                      87.0               18.0   552.0
AZ                38.0                     249.0               85.0   701.0
CA                18.0                     317.0               48.0   432.0
CO                 NaN                       1.0                NaN     NaN
DE                 4.0                      60.0               20.0   179.0
FL                69.0                     753.0              113.0  2128.0
HI                 NaN                       1.0                NaN     NaN
ID                13.0                     122.0               27.0   381.0
IL                 3.0                      84.0                2.0   180.0
IN                26.0                     365.0               38.0   986.0
LA                23.0                     479.0               45.0   868.0
MA                 NaN                       NaN                NaN     NaN
MI                 NaN                       NaN                NaN     NaN
MO                27.0                     320.0               37.0   833.0
MT                 NaN                       NaN                NaN     NaN
NC                 NaN                       NaN                NaN     NaN
NJ                14.0                     211.0               26.0   785.0
NV                32.0                     195.0               92.0   565.0
PA                84.0                     730.0              143.0  2786.0
SD                 NaN                       NaN                NaN     NaN
TN                22.0                     462.0               48.0   933.0
TX                 NaN                       NaN                NaN     NaN
UT                 NaN                       NaN                NaN     NaN
VI                 NaN                       1.0                NaN     NaN
VT                 NaN                       NaN                NaN     NaN
WA                 NaN                       NaN                NaN     NaN
XMS                NaN                       NaN                NaN     NaN

                                             ...                            \
new_category Health & Medical Home Services  ... Local Services Mass Media
state                                        ...
AB                      131.0         124.0  ...          103.0       15.0
AZ                      699.0        1132.0  ...          361.0        7.0
CA                      413.0         517.0  ...          197.0        3.0
CO                        NaN           NaN  ...            NaN        NaN
DE                       69.0         130.0  ...           68.0        NaN
FL                     1538.0        2282.0  ...          809.0        8.0
HI                        NaN           NaN  ...            NaN        NaN
ID                      240.0         448.0  ...          165.0        3.0
IL                       69.0          79.0  ...           36.0        NaN
IN                      419.0         717.0  ...          310.0        4.0
LA                      339.0         397.0  ...          284.0        8.0
MA                        NaN           1.0  ...            1.0        NaN
MI                        NaN           NaN  ...            NaN        NaN
MO                      444.0         690.0  ...          335.0        9.0
MT                        NaN           NaN  ...            NaN        NaN
NC                        NaN           NaN  ...            NaN        NaN
NJ                      404.0         554.0  ...          234.0        NaN
NV                      615.0         963.0  ...          332.0        4.0
PA                     1747.0        2404.0  ...         1159.0       24.0
SD                        NaN           NaN  ...            NaN        NaN
TN                      559.0         890.0  ...          365.0        6.0
TX                        NaN           2.0  ...            NaN        NaN
UT                        1.0           NaN  ...            NaN        NaN
VI                        NaN           NaN  ...            NaN        NaN
VT                        NaN           NaN  ...            NaN        NaN
WA                        NaN           NaN  ...            NaN        NaN
XMS                       NaN           NaN  ...            NaN        NaN

                                                           \
new_category Nightlife Other   Pets Professional Services
state
AB               124.0   1.0  110.0                   8.0
AZ               108.0   6.0  241.0                  49.0
CA                60.0   1.0   89.0                  63.0
CO                 NaN   NaN    NaN                   NaN
DE                26.0   3.0   49.0                   6.0
FL               429.0  21.0  633.0                 106.0
HI                 NaN   NaN    NaN                   NaN
ID                76.0   3.0  109.0                  14.0
IL                43.0   1.0   53.0                   3.0
IN               182.0   4.0  259.0                  23.0
LA               414.0   8.0  155.0                  17.0
MA                 NaN   NaN    NaN                   NaN
MI                 NaN   NaN    NaN                   NaN
MO               234.0   6.0  222.0                  37.0
MT                 NaN   NaN    NaN                   NaN
NC                 NaN   NaN    NaN                   NaN
NJ                61.0   9.0  181.0                  32.0
NV               203.0   9.0  168.0                  81.0
PA               515.0  26.0  671.0                 162.0
SD                 NaN   NaN    NaN                   NaN
TN               221.0   5.0  268.0                  32.0
TX                 NaN   NaN    NaN                   NaN
UT                 NaN   NaN    NaN                   NaN
VI                 NaN   NaN    NaN                   NaN
VT                 NaN   NaN    NaN                   NaN
WA                 NaN   NaN    NaN                   NaN
XMS                NaN   NaN    NaN                   NaN

                                                                               \
new_category Public Services & Government Religious Organizations Restaurants
state
AB                                   24.0                     3.0      2410.0
AZ                                   25.0                    11.0      2671.0
CA                                   10.0                    12.0      1161.0
CO                                    NaN                     NaN         1.0
DE                                    8.0                     NaN       961.0
FL                                   97.0                    33.0      8731.0
HI                                    NaN                     NaN         1.0
ID                                   11.0                     7.0      1302.0
IL                                   10.0                     NaN       983.0
IN                                   64.0                    15.0      4150.0
LA                                   58.0                    15.0      3640.0
MA                                    NaN                     NaN         NaN
MI                                    NaN                     NaN         NaN
MO                                   37.0                    17.0      4247.0
MT                                    NaN                     NaN         1.0
NC                                    NaN                     NaN         1.0
NJ                                   18.0                     2.0      3341.0
NV                                   21.0                    14.0      1673.0
PA                                   91.0                    29.0     12641.0
SD                                    NaN                     NaN         NaN
TN                                   45.0                    16.0      4352.0
TX                                    NaN                     NaN         NaN
UT                                    NaN                     NaN         NaN
VI                                    NaN                     NaN         NaN
VT                                    NaN                     NaN         NaN
WA                                    NaN                     NaN         NaN
XMS                                   NaN                     NaN         1.0


new_category Shopping
state
AB              954.0
AZ             1567.0
CA              845.0
CO                1.0
DE              313.0
FL             3410.0
HI                NaN
ID              677.0
IL              254.0
IN             1560.0
LA             1427.0
MA                NaN
MI                NaN
MO             1540.0
MT                NaN
NC                NaN
NJ             1019.0
NV             1255.0
PA             4573.0
SD                NaN
TN             1649.0
TX                1.0
UT                NaN
VI                NaN
VT                NaN
WA                NaN
XMS               NaN

[27 rows x 22 columns]

In [9]:
den_graph={}

In [10]:
cat=table.columns
category=[]
for c in cat:
    category.append(c[1])

In [11]:
total=[]
for i in range(len(category)):
    col=table.iloc[:,i]
    topV=col.sort_values(ascending=False).head(5)
    temp=[]
    for j in range(5):
        temp.append({"name":topV.index[j],"value":topV.values[j]})
    total.append({"name":category[i],"children":temp})

In [12]:
den_graph["name"]="yelp"
den_graph["children"]=total

In [13]:
den_graph

{'name': 'yelp',
 'children': [{'name': 'Active Life',
   'children': [{'name': 'FL', 'value': 888.0},
    {'name': 'PA', 'value': 840.0},
    {'name': 'IN', 'value': 369.0},
    {'name': 'TN', 'value': 333.0},
    {'name': 'MO', 'value': 291.0}]},
  {'name': 'Arts & Entertainment',
   'children': [{'name': 'PA', 'value': 203.0},
    {'name': 'FL', 'value': 138.0},
    {'name': 'IN', 'value': 119.0},
    {'name': 'LA', 'value': 104.0},
    {'name': 'MO', 'value': 73.0}]},
  {'name': 'Automotive',
   'children': [{'name': 'PA', 'value': 1907.0},
    {'name': 'FL', 'value': 1570.0},
    {'name': 'AZ', 'value': 691.0},
    {'name': 'TN', 'value': 675.0},
    {'name': 'IN', 'value': 634.0}]},
  {'name': 'Beauty & Spas',
   'children': [{'name': 'PA', 'value': 2981.0},
    {'name': 'FL', 'value': 2314.0},
    {'name': 'TN', 'value': 957.0},
    {'name': 'IN', 'value': 895.0},
    {'name': 'AZ', 'value': 828.0}]},
  {'name': 'Education',
   'children': [{'name': 'PA', 'value': 84.0},
    {'name': 'FL', 'value': 69.0},
    {'name': 'AZ', 'value': 38.0},
    {'name': 'NV', 'value': 32.0},
    {'name': 'MO', 'value': 27.0}]},
  {'name': 'Event Planning & Services',
   'children': [{'name': 'FL', 'value': 753.0},
    {'name': 'PA', 'value': 730.0},
    {'name': 'LA', 'value': 479.0},
    {'name': 'TN', 'value': 462.0},
    {'name': 'IN', 'value': 365.0}]},
  {'name': 'Financial Services',
   'children': [{'name': 'PA', 'value': 143.0},
    {'name': 'FL', 'value': 113.0},
    {'name': 'NV', 'value': 92.0},
    {'name': 'AZ', 'value': 85.0},
    {'name': 'CA', 'value': 48.0}]},
  {'name': 'Food',
   'children': [{'name': 'PA', 'value': 2786.0},
    {'name': 'FL', 'value': 2128.0},
    {'name': 'IN', 'value': 986.0},
    {'name': 'TN', 'value': 933.0},
    {'name': 'LA', 'value': 868.0}]},
  {'name': 'Health & Medical',
   'children': [{'name': 'PA', 'value': 1747.0},
    {'name': 'FL', 'value': 1538.0},
    {'name': 'AZ', 'value': 699.0},
    {'name': 'NV', 'value': 615.0},
    {'name': 'TN', 'value': 559.0}]},
  {'name': 'Home Services',
   'children': [{'name': 'PA', 'value': 2404.0},
    {'name': 'FL', 'value': 2282.0},
    {'name': 'AZ', 'value': 1132.0},
    {'name': 'NV', 'value': 963.0},
    {'name': 'TN', 'value': 890.0}]},
  {'name': 'Hotels & Travel',
   'children': [{'name': 'PA', 'value': 303.0},
    {'name': 'FL', 'value': 253.0},
    {'name': 'LA', 'value': 249.0},
    {'name': 'TN', 'value': 147.0},
    {'name': 'MO', 'value': 106.0}]},
  {'name': 'Local Flavor',
   'children': [{'name': 'LA', 'value': 29.0},
    {'name': 'IN', 'value': 20.0},
    {'name': 'PA', 'value': 20.0},
    {'name': 'MO', 'value': 11.0},
    {'name': 'NV', 'value': 11.0}]},
  {'name': 'Local Services',
   'children': [{'name': 'PA', 'value': 1159.0},
    {'name': 'FL', 'value': 809.0},
    {'name': 'TN', 'value': 365.0},
    {'name': 'AZ', 'value': 361.0},
    {'name': 'MO', 'value': 335.0}]},
  {'name': 'Mass Media',
   'children': [{'name': 'PA', 'value': 24.0},
    {'name': 'AB', 'value': 15.0},
    {'name': 'MO', 'value': 9.0},
    {'name': 'FL', 'value': 8.0},
    {'name': 'LA', 'value': 8.0}]},
  {'name': 'Nightlife',
   'children': [{'name': 'PA', 'value': 515.0},
    {'name': 'FL', 'value': 429.0},
    {'name': 'LA', 'value': 414.0},
    {'name': 'MO', 'value': 234.0},
    {'name': 'TN', 'value': 221.0}]},
  {'name': 'Other',
   'children': [{'name': 'PA', 'value': 26.0},
    {'name': 'FL', 'value': 21.0},
    {'name': 'NJ', 'value': 9.0},
    {'name': 'NV', 'value': 9.0},
    {'name': 'LA', 'value': 8.0}]},
  {'name': 'Pets',
   'children': [{'name': 'PA', 'value': 671.0},
    {'name': 'FL', 'value': 633.0},
    {'name': 'TN', 'value': 268.0},
    {'name': 'IN', 'value': 259.0},
    {'name': 'AZ', 'value': 241.0}]},
  {'name': 'Professional Services',
   'children': [{'name': 'PA', 'value': 162.0},
    {'name': 'FL', 'value': 106.0},
    {'name': 'NV', 'value': 81.0},
    {'name': 'CA', 'value': 63.0},
    {'name': 'AZ', 'value': 49.0}]},
  {'name': 'Public Services & Government',
   'children': [{'name': 'FL', 'value': 97.0},
    {'name': 'PA', 'value': 91.0},
    {'name': 'IN', 'value': 64.0},
    {'name': 'LA', 'value': 58.0},
    {'name': 'TN', 'value': 45.0}]},
  {'name': 'Religious Organizations',
   'children': [{'name': 'FL', 'value': 33.0},
    {'name': 'PA', 'value': 29.0},
    {'name': 'MO', 'value': 17.0},
    {'name': 'TN', 'value': 16.0},
    {'name': 'IN', 'value': 15.0}]},
  {'name': 'Restaurants',
   'children': [{'name': 'PA', 'value': 12641.0},
    {'name': 'FL', 'value': 8731.0},
    {'name': 'TN', 'value': 4352.0},
    {'name': 'MO', 'value': 4247.0},
    {'name': 'IN', 'value': 4150.0}]},
  {'name': 'Shopping',
   'children': [{'name': 'PA', 'value': 4573.0},
    {'name': 'FL', 'value': 3410.0},
    {'name': 'TN', 'value': 1649.0},
    {'name': 'AZ', 'value': 1567.0},
    {'name': 'IN', 'value': 1560.0}]}]}

In [79]:
type(den_graph)

dict

In [86]:
with open("yelp_dendrogram.json", "w") as outfile:
    j=json.dumps(den_graph, indent=4)
    outfile.write(j)

In [87]:
outfile.close()

In [17]:
bar_graph={}
temp=df2.groupby('new_category').count().state
all_level=[]
for i in range(len(temp)):
    all_level.append({'category':temp.index[i],'count':int(temp.values[i])})

In [18]:
bar_graph['all']=all_level

In [19]:
new_table=table.T
for i in range(27):
    temp_dict=[]
    for j in range(len(category)):
        t=np.isnan(new_table.iloc[:,i])
        new_table.iloc[:,i][t]=int(0)

        temp_dict.append({'category':category[j],'count':new_table.iloc[:,i].values[j]})

    bar_graph[new_table.columns[i]]=temp_dict

In [237]:
with open("yelp_bar.json", "w") as outfile:
    j=json.dumps(bar_graph, indent=4)
    outfile.write(j)
outfile.close()

In [22]:
new_table

state                               AB      AZ      CA   CO     DE      FL  \
  new_category
c Active Life                    161.0   277.0   205.0  0.0   38.0   888.0
  Arts & Entertainment            50.0    68.0    35.0  0.0   12.0   138.0
  Automotive                     236.0   691.0   260.0  0.0  119.0  1570.0
  Beauty & Spas                  418.0   828.0   426.0  0.0  183.0  2314.0
  Education                       10.0    38.0    18.0  0.0    4.0    69.0
  Event Planning & Services       87.0   249.0   317.0  1.0   60.0   753.0
  Financial Services              18.0    85.0    48.0  0.0   20.0   113.0
  Food                           552.0   701.0   432.0  0.0  179.0  2128.0
  Health & Medical               131.0   699.0   413.0  0.0   69.0  1538.0
  Home Services                  124.0  1132.0   517.0  0.0  130.0  2282.0
  Hotels & Travel                 28.0    94.0    86.0  0.0   16.0   253.0
  Local Flavor                     6.0     4.0     5.0  0.0    1.0     7.0
  Local Services                 103.0   361.0   197.0  0.0   68.0   809.0
  Mass Media                      15.0     7.0     3.0  0.0    0.0     8.0
  Nightlife                      124.0   108.0    60.0  0.0   26.0   429.0
  Other                            1.0     6.0     1.0  0.0    3.0    21.0
  Pets                           110.0   241.0    89.0  0.0   49.0   633.0
  Professional Services            8.0    49.0    63.0  0.0    6.0   106.0
  Public Services & Government    24.0    25.0    10.0  0.0    8.0    97.0
  Religious Organizations          3.0    11.0    12.0  0.0    0.0    33.0
  Restaurants                   2410.0  2671.0  1161.0  1.0  961.0  8731.0
  Shopping                       954.0  1567.0   845.0  1.0  313.0  3410.0

state                            HI      ID     IL      IN  ...      NV  \
  new_category                                              ...
c Active Life                   0.0   136.0   42.0   369.0  ...   220.0
  Arts & Entertainment          0.0    23.0   16.0   119.0  ...    59.0
  Automotive                    0.0   288.0  133.0   634.0  ...   553.0
  Beauty & Spas                 0.0   391.0  135.0   895.0  ...   576.0
  Education                     0.0    13.0    3.0    26.0  ...    32.0
  Event Planning & Services     1.0   122.0   84.0   365.0  ...   195.0
  Financial Services            0.0    27.0    2.0    38.0  ...    92.0
  Food                          0.0   381.0  180.0   986.0  ...   565.0
  Health & Medical              0.0   240.0   69.0   419.0  ...   615.0
  Home Services                 0.0   448.0   79.0   717.0  ...   963.0
  Hotels & Travel               0.0    30.0   15.0    88.0  ...    74.0
  Local Flavor                  0.0     1.0    4.0    20.0  ...    11.0
  Local Services                0.0   165.0   36.0   310.0  ...   332.0
  Mass Media                    0.0     3.0    0.0     4.0  ...     4.0
  Nightlife                     0.0    76.0   43.0   182.0  ...   203.0
  Other                         0.0     3.0    1.0     4.0  ...     9.0
  Pets                          0.0   109.0   53.0   259.0  ...   168.0
  Professional Services         0.0    14.0    3.0    23.0  ...    81.0
  Public Services & Government  0.0    11.0   10.0    64.0  ...    21.0
  Religious Organizations       0.0     7.0    0.0    15.0  ...    14.0
  Restaurants                   1.0  1302.0  983.0  4150.0  ...  1673.0
  Shopping                      0.0   677.0  254.0  1560.0  ...  1255.0

state                                PA   SD      TN   TX   UT   VI   VT   WA  \
  new_category
c Active Life                     840.0  0.0   333.0  0.0  0.0  0.0  0.0  0.0
  Arts & Entertainment            203.0  0.0    67.0  0.0  0.0  0.0  0.0  0.0
  Automotive                     1907.0  0.0   675.0  0.0  0.0  0.0  1.0  1.0
  Beauty & Spas                  2981.0  1.0   957.0  1.0  0.0  0.0  0.0  1.0
  Education                        84.0  0.0    22.0  0.0  0.0  0.0  0.0  0.0
  Event Planning & Services       730.0  0.0   462.0  0.0  0.0  1.0  0.0  0.0
  Financial Services              143.0  0.0    48.0  0.0  0.0  0.0  0.0  0.0
  Food                           2786.0  0.0   933.0  0.0  0.0  0.0  0.0  0.0
  Health & Medical               1747.0  0.0   559.0  0.0  1.0  0.0  0.0  0.0
  Home Services                  2404.0  0.0   890.0  2.0  0.0  0.0  0.0  0.0
  Hotels & Travel                 303.0  0.0   147.0  0.0  0.0  0.0  0.0  0.0
  Local Flavor                     20.0  0.0     4.0  0.0  0.0  0.0  0.0  0.0
  Local Services                 1159.0  0.0   365.0  0.0  0.0  0.0  0.0  0.0
  Mass Media                       24.0  0.0     6.0  0.0  0.0  0.0  0.0  0.0
  Nightlife                       515.0  0.0   221.0  0.0  0.0  0.0  0.0  0.0
  Other                            26.0  0.0     5.0  0.0  0.0  0.0  0.0  0.0
  Pets                            671.0  0.0   268.0  0.0  0.0  0.0  0.0  0.0
  Professional Services           162.0  0.0    32.0  0.0  0.0  0.0  0.0  0.0
  Public Services & Government     91.0  0.0    45.0  0.0  0.0  0.0  0.0  0.0
  Religious Organizations          29.0  0.0    16.0  0.0  0.0  0.0  0.0  0.0
  Restaurants                   12641.0  0.0  4352.0  0.0  0.0  0.0  0.0  0.0
  Shopping                       4573.0  0.0  1649.0  1.0  0.0  0.0  0.0  0.0

state                           XMS
  new_category
c Active Life                   0.0
  Arts & Entertainment          0.0
  Automotive                    0.0
  Beauty & Spas                 0.0
  Education                     0.0
  Event Planning & Services     0.0
  Financial Services            0.0
  Food                          0.0
  Health & Medical              0.0
  Home Services                 0.0
  Hotels & Travel               0.0
  Local Flavor                  0.0
  Local Services                0.0
  Mass Media                    0.0
  Nightlife                     0.0
  Other                         0.0
  Pets                          0.0
  Professional Services         0.0
  Public Services & Government  0.0
  Religious Organizations       0.0
  Restaurants                   1.0
  Shopping                      0.0

[22 rows x 27 columns]

In [27]:
df2.groupby('state').describe()

             c
         count mean  std  min  25%  50%  75%  max
state
AB      5573.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
AZ      9912.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
CA      5203.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
CO         3.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
DE      2265.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
FL     26330.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
HI         2.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
ID      4467.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
IL      2145.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
IN     11247.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
LA      9924.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
MA         2.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
MI         1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
MO     10913.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
MT         1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
NC         1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
NJ      8536.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
NV      7715.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
PA     34039.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
SD         1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
TN     12056.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
TX         4.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
UT         1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
VI         1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
VT         1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
WA         2.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
XMS        1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0

Get Weekday.json and Weekend.json

In [ ]:
import itertools
import os
import json
import pyspark
from pyspark import SparkConf, SparkContext
import time
import math
from datetime import datetime
import sys
from collections import defaultdict
from itertools import combinations
import pandas as pd
import numpy as np
from collections import Counter
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

spark = SparkContext('local[*]', 'modeling')
spark.setLogLevel('WARN')
pd.read_csv('./yelp_academic_dataset_business.json')

business=spark.textFile('yelp_academic_dataset_business.json').map(lambda line: json.loads(line)).collect()
business_df=pd.DataFrame(business)

# create features for business
business_rdd = spark.textFile('yelp_academic_dataset_business.json').map(lambda line: json.loads(line))

business = business_rdd.map(lambda line: line['business_id']).distinct().collect()

#weekdays open hours in total
def get_weekdays_hours(line):
    hours = line['hours']
    total = 0
    try:
        t = hours['Monday'].split('-')
        time = (datetime.strptime(t[1], "%H:%M") - datetime.strptime(t[0], "%H:%M")).total_seconds() / 3600
        if time < 0:
            time = time + 24
        total += time
    except:
        pass
    try:
        t = hours['Tuesday'].split('-')
        time = (datetime.strptime(t[1], "%H:%M") - datetime.strptime(t[0], "%H:%M")).total_seconds() / 3600
        if time < 0:
            time = time + 24
        total += time
    except:
        pass
    try:
        t = hours['Wednesday'].split('-')
        time = (datetime.strptime(t[1], "%H:%M") - datetime.strptime(t[0], "%H:%M")).total_seconds() / 3600
        if time < 0:
            time = time + 24
        total += time
    except:
        pass
    try:
        t = hours['Thursday'].split('-')
        time = (datetime.strptime(t[1], "%H:%M") - datetime.strptime(t[0], "%H:%M")).total_seconds() / 3600
        if time < 0:
            time = time + 24
        total += time
    except:
        pass
    try:
        t = hours['Friday'].split('-')
        time = (datetime.strptime(t[1], "%H:%M") - datetime.strptime(t[0], "%H:%M")).total_seconds() / 3600
        if time < 0:
            time = time + 24
        total += time
    except:
        pass
    return total


weekdays_hours = business_rdd.map(lambda line: (line['business_id'], get_weekdays_hours(line))).collectAsMap()
nonzero_weekdays = list(weekdays_hours.values())
mean_weekdays_hours = np.mean(list(map(nonzero_weekdays.__getitem__, np.nonzero(nonzero_weekdays)[0])))
for k in weekdays_hours:
    if weekdays_hours[k] == 0:
        weekdays_hours[k] = mean_weekdays_hours

#weekend open hours in total
def get_weekend_hours(line):
    hours = line['hours']
    total = 0
    try:
        t = hours['Saturday'].split('-')
        time = (datetime.strptime(t[1], "%H:%M") - datetime.strptime(t[0], "%H:%M")).total_seconds() / 3600
        if time < 0:
            time = time + 24
        total += time
    except:
        pass
    try:
        t = hours['Sunday'].split('-')
        time = (datetime.strptime(t[1], "%H:%M") - datetime.strptime(t[0], "%H:%M")).total_seconds() / 3600
        if time < 0:
            time = time + 24
        total += time
    except:
        pass
    return total


weekend_hours = business_rdd.map(lambda line: (line['business_id'], get_weekend_hours(line))).collectAsMap()
nonzero_weekend = list(weekend_hours.values())
mean_weekend_hours = np.mean(list(map(nonzero_weekend.__getitem__, np.nonzero(nonzero_weekend)[0])))
for k in weekend_hours:
    if weekend_hours[k] == 0:
        weekend_hours[k] = mean_weekend_hours


weekday=weekdays_hours.values()
weekday=list(weekday)

average_weekday=[wd/5 for wd in weekday]

avg_weekday=[]
for wd in average_weekday:
    if wd<1:
        avg_weekday.append('0-1')
    elif wd<2:
        avg_weekday.append('1-2')
    elif wd<3:
        avg_weekday.append('2-3')
    elif wd<4:
        avg_weekday.append('3-4')
    elif wd<5:
        avg_weekday.append('4-5')
    elif wd<6:
        avg_weekday.append('5-6')
    elif wd<7:
        avg_weekday.append('6-7')
    elif wd<8:
        avg_weekday.append('7-8')
    elif wd<9:
        avg_weekday.append('8-9')
    elif wd<10:
        avg_weekday.append('9-10')
    elif wd<11:
        avg_weekday.append('10-11')
    elif wd<12:
        avg_weekday.append('11-12')
    elif wd<13:
        avg_weekday.append('12-13')
    elif wd<14:
        avg_weekday.append('13-14')
    elif wd<15:
        avg_weekday.append('14-15')
    elif wd<16:
        avg_weekday.append('15-16')
    elif wd<17:
        avg_weekday.append('16-17')
    elif wd<18:
        avg_weekday.append('17-18')
    elif wd<19:
        avg_weekday.append('18-19')
    elif wd<20:
        avg_weekday.append('19-20')
    elif wd<21:
        avg_weekday.append('20-21')
    elif wd<22:
        avg_weekday.append('21-22')
    elif wd<23:
        avg_weekday.append('22-23')
    else:
        avg_weekday.append('23-24')
    
    

a=dict(Counter(avg_weekday))

wd_k=list(a.keys())

wd_v=list(a.values())

final_wd=[]
for i in range(len(wd_k)):
    final_wd.append({"hours":wd_k[i],"count":wd_v[i]})

with open("weekday_pie.json", "w") as outfile:
    j=json.dumps(final_wd, indent=4)
    outfile.write(j)
outfile.close()

weekend=weekend_hours.values()
weekend=list(weekend)

average_weekday=[wd/2 for wd in weekend]



avg_weekday=[]
for wd in average_weekday:
    if wd<1:
        avg_weekday.append('0-1')
    elif wd<2:
        avg_weekday.append('1-2')
    elif wd<3:
        avg_weekday.append('2-3')
    elif wd<4:
        avg_weekday.append('3-4')
    elif wd<5:
        avg_weekday.append('4-5')
    elif wd<6:
        avg_weekday.append('5-6')
    elif wd<7:
        avg_weekday.append('6-7')
    elif wd<8:
        avg_weekday.append('7-8')
    elif wd<9:
        avg_weekday.append('8-9')
    elif wd<10:
        avg_weekday.append('9-10')
    elif wd<11:
        avg_weekday.append('10-11')
    elif wd<12:
        avg_weekday.append('11-12')
    elif wd<13:
        avg_weekday.append('12-13')
    elif wd<14:
        avg_weekday.append('13-14')
    elif wd<15:
        avg_weekday.append('14-15')
    elif wd<16:
        avg_weekday.append('15-16')
    elif wd<17:
        avg_weekday.append('16-17')
    elif wd<18:
        avg_weekday.append('17-18')
    elif wd<19:
        avg_weekday.append('18-19')
    elif wd<20:
        avg_weekday.append('19-20')
    elif wd<21:
        avg_weekday.append('20-21')
    elif wd<22:
        avg_weekday.append('21-22')
    elif wd<23:
        avg_weekday.append('22-23')
    else:
        avg_weekday.append('23-24')
    
    

a=dict(Counter(avg_weekday))

wd_k=list(a.keys())

wd_v=list(a.values())
s=0
final_wd=[]
for i in range(len(wd_k)):
    final_wd.append({"hours":wd_k[i],"count":wd_v[i]})
    s+=wd_v[i]
with open("weekend_pie.json", "w") as outfile:
    j=json.dumps(final_wd, indent=4)
    outfile.write(j)
outfile.close()